html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#root {
    display: flex;
    text-align: center;
    overflow: hidden; /* prevents scrollbars from #root */
}

.app-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
