#root {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #242424;
    margin: 0;
}